{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "node_modules/laravel-mix/setup/webpack.config.js"
      }
    }
  },
  "globals": {
    "Vue": true,
    "laroute": true,
    "Raven": true,
    "L": true,
    "moment": true,
    "Sticky": true,
    "VeeValidate": true,
    "Vuebar": true,
    "VTooltip": true,
    "RavenVue": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }
    ]
  }
}
