$sizes: (0, 4, 8, 16, 24, 48);
$names: (
  ma: "margin",
  mt: "margin-top",
  mr: "margin-right",
  mb: "margin-bottom",
  ml: "margin-left",
  pa: "padding",
  pt: "padding-top",
  pr: "padding-right",
  pb: "padding-bottom",
  pl: "padding-left",
);
$coords: (
  m: "margin",
  p: "padding",
);

/**
 * @example
 * .ml-1 {
 *   margin-left: 4px;
 * }
 */
@each $class, $prop in $names {
  @each $size in $sizes {
    $i: index($sizes, $size);

    .#{$class}-#{$i - 1} {
      // stylelint-disable-next-line declaration-no-important
      #{$prop}: #{$size}#{if($size == 0, "", "px")} !important;
    }
  }
}

/**
 * @example
 * .mx-1 {
 *   margin-top: 4px;
 *   margin-bottom: 4px;
 * }
 */
@each $class, $prop in $coords {
  @each $size in $sizes {
    $i: index($sizes, $size);
    // stylelint-disable-next-line declaration-no-important
    $newSize: #{$size}#{if($size == 0, "", "px")} !important;

    .#{$class}x-#{$i - 1} {
      #{$prop}-right: $newSize;
      #{$prop}-left: $newSize;
    }

    .#{$class}y-#{$i - 1} {
      #{$prop}-top: $newSize;
      #{$prop}-bottom: $newSize;
    }
  }
}
