@import "./variables";

.vb {
  > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;

    > .vb-dragger-styler {
      display: block;
      backface-visibility: hidden;
      background-color: rgba(0, 0, 0, 0.16);
      margin: 5px 5px 5px 0;
      border-radius: 50px;
      height: calc(100% - 10px);
      transform: rotate3d(0, 0, 0, 0);
      transition: all 100ms ease-out;
      transition-property: background-color, margin, height;
    }
  }

  > .vb-dragger:hover > .vb-dragger-styler,
  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba($charcoal-grey, 0.4);
    height: 100%;
  }

  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler,
  &.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba($charcoal-grey, 0.4);
  }
}
