@import "./variables";
@import "./vue-transitions";
@import "./fonts";
@import "./field";
@import "./grid";
@import "./tooltip";
@import "./scroll";
@import "./mixins";
@import "./colors";
@import "./helpers";
@import "./sizes";
@import "./vuetify-restyle";

*,
::after,
::before {
  box-sizing: border-box;
}

//add scroll to old pages (without adaptive)
html.g-app {
  &--scroll-in-mobile {
    overflow-x: auto;
    min-width: 1000px;
  }
}

body {
  font: 400 14px/1.4 "Roboto", sans-serif;
  color: $charcoal-grey;
  margin: 0;
  padding: 0;
}

textarea {
  vertical-align: middle;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

a {
  color: $blue-link;
}

[v-cloak] {
  display: none;
}

.g-field {
  $self: &;

  padding: 24px 0;
  position: relative;

  &--no-label {
    padding-top: 0;
  }

  &__field-wrapper {
    position: relative;
    border-radius: 3px;

    #{$self}--loading & {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: $azure;
        animation: border-field 1s infinite alternate;
      }

      @at-root {
        @keyframes border-field {
          0% {
            width: 0;
          }

          100% {
            width: 100%;
          }
        }
      }
    }
  }

  &__group {
    display: flex;
  }

  &__field {
    @include field;
  }

  &__label,
  &__error {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 14px;
    top: 0;
    color: rgba($charcoal-grey, 0.56);
    transition: color 0.15s ease;

    &--error {
      color: $light-burgundy;
    }

    &--success {
      color: $boring-green;
    }
  }

  &__hint {
    font-size: 12px;
    padding-top: 4px;
    line-height: 1;
    color: $charcoal-grey-56;

    &--error {
      color: $light-burgundy;
    }

    &--error a {
      color: $light-burgundy;
    }

    &--success-message {
      color: $boring-green;
    }
  }
}

.g-gradient-truncate-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    width: 20px;
    background: linear-gradient(to left, #fff, #fff, rgba(#fff, 0));
  }
}

.g-locked {
  overflow-y: hidden;
}

.g-error {
  color: $light-burgundy;
  font-size: 12px;
}

/**
 * IE fixes
 */
@include IEOnly {
  .application {
    &--wrap {
      width: 100%;
    }
  }
}
